<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441044772766-0f5gn4s980edc43n46pv19v3973sr378.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441044772766-0f5gn4s980edc43n46pv19v3973sr378</string>
	<key>API_KEY</key>
	<string>AIzaSyCVnElsgxLwW_YXFQzaaylvjnIyKBOeosc</string>
	<key>GCM_SENDER_ID</key>
	<string>441044772766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>test-app-f81da</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-f81da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441044772766:ios:1239826cfc041bc6d2988f</string>
</dict>
</plist>